@{
    Layout = "_Donation";
}
<!Doctype html>

    <html>
        <head>  
            <title>Success Page</title>
            <style>
        body {
            overflow-x: hidden;
            background-color: #cfe6dc;
        }
            </style>
        </head>
        <body>
            <h3 class="text-success text-center mt-5 fs-5">Thank you for your donation!</h3>
        </body>
  </html>


