@{
    Layout = "_Layout";
}
<link href="~/css/volunteerdesigning.css" rel="stylesheet" />
<!-- Volunteer-specific content -->
<div class="container">
    <div class="row">
        <!-- Caregiver Box 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/Caregiver1.jpeg" class="card-img-top" alt="Caregiver 1">
                <div class="card-body">
                    <h5 class="card-title">Caregiver Name 1</h5>
                    <p class="card-text">Phone: 123-456-7890</p>
                </div>
            </div>
        </div>

        <!-- Caregiver Box 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/Caregiver2.jpeg" class="card-img-top" alt="Caregiver 2">
                <div class="card-body">
                    <h5 class="card-title">Caregiver Name 2</h5>
                    <p class="card-text">Phone: 123-456-7890</p>
                </div>
            </div>
        </div>

        <!-- Caregiver Box 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/Caregiver3.jpeg" class="card-img-top" alt="Caregiver 3">
                <div class="card-body">
                    <h5 class="card-title">Caregiver Name 3</h5>
                    <p class="card-text">Phone: 123-456-7890</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Caregiver Box 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/Caregiver4.jpeg" class="card-img-top" alt="Caregiver 4">
                <div class="card-body">
                    <h5 class="card-title">Caregiver Name 4</h5>
                    <p class="card-text">Phone: 123-456-7890</p>
                </div>
            </div>
        </div>

        <!-- Caregiver Box 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/Caregiver5.jpeg" class="card-img-top" alt="Caregiver 5">
                <div class="card-body">
                    <h5 class="card-title">Caregiver Name 5</h5>
                    <p class="card-text">Phone: 123-456-7890</p>
                </div>
            </div>
        </div>

        <!-- Caregiver Box 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/Caregiver6.jpeg" class="card-img-top" alt="Caregiver 6">
                <div class="card-body">
                    <h5 class="card-title">Caregiver Name 6</h5>
                    <p class="card-text">Phone: 123-456-7890</p>
                </div>
            </div>
        </div>
    </div>
</div>
