@{
    Layout = null;
}

<!DOCTYPE html>
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - AlzhCareHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .fullbodycontainer {
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #cfe6dc;
        }
    </style>
    <link href="~/css/caregiverdashboardstyling.css" rel="stylesheet" />
    <link href="~/css/caregiverdashboardcards.css" rel="stylesheet" />
</head>
<body>
    <div class="fullbodycontainer">
        <div class="adminbuttons">
            <a class="helpbtn helpbtnprimary" asp-controller="Donation" asp-action="AllDonations">Review All Donations</a>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.0/signalr.min.js"></script>
</body>
</html>


