body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 700px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.form-container {
    margin-left: 20px;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 20px;
}

.btn-primary {
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    margin-top: 10px;
}

.btn-outline-primary {
    width: 100%;
    border-radius: 20px;
    padding: 12px;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 0.8;
}

.text-center {
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.alert {
    margin-bottom: 20px;
}

.image-container img {
    height: auto;
    width: 350px;
}
